.cover__subtitle {
  margin-top: 32px;
  margin-bottom: 0;
  width: 360px;

  text-align: center;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 288px;

    font-size: 14px;
    line-height: 1.14;
  }
}